{% extends 'base.html' %}

{% block content %}
  <div id="container" style="width: 75%;">
    <canvas id="chart"></canvas>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
  <script>

    var labels = {{ labels|safe }};

    var data = {
        labels: labels,
        datasets: [{
            label: 'Temperature Chart',
            data: {{ data|safe }},
            fill: true,
            borderColor: 'rgb(75, 192, 192)',
            tension: 0.1,
        }],
    };

    var options = {
        scales: {
            xAxes: [{
                ticks: {
                    reverse: true,
                }
            }]
        }
    }

    var config = {
        type: 'line',
        data: data,
        options: options,
    };

    window.onload = function() {
        var ctx = document.getElementById('chart').getContext('2d');
        window.myChart = new Chart(ctx, config);
    }

    

  </script>

{% endblock %}