{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset ="UTF-8">
        <meta name ="author" content ="Anthony Lopez">
        <meta name="description" content ="This is my test HTML file for learning purposes.">
        <title>My First Web Page</title>
        <link rel="icon" href= "{% static 'html5.png' %}" type ="image/x - icon">
        <link rel="stylesheet" href= "{% static 'main.css' %}" type="text/css">
        {% if list0 %}
            <ul>
            {{ list0|json_script:'list0' }}
            </ul>
        {% endif %}
        <script>

            window.onload = function() {
            console.log("LOADED");



            //Configuration variables
            var updateInterval = 1000 //in ms
            var numberElements = 200;

            //Data Variables
            
            const node0_data = JSON.parse(document.getElementById('list0').textContent);

            //Globals
            var updateCount = 0;

            // Chart Objects
            var node1Temperature = $("#node1Temperature");
            var node1Humidity = $("#node1Humidity");
            var node2Temperature = $("#node2Temperature");
            var node2Humidity = $("#node2Humidity");
            
            
            //chart instances & configuration

            var commonOptions = {
                scales: {
                xAxes: [{
                    type: 'time',
                    time: {
                    displayFormats: {
                        millisecond: 'mm:ss:SSS'
                    }
                    }
                }],
                    yAxes: [{
                        ticks: {
                            beginAtZero:true
                        }
                    }]
                },
                legend: {display: false},
                tooltips:{ 
                enabled: false
                }
            };
            var node1ChartInstance_temp = new Chart(node1Temperature, {
                type: 'line',
                data: {
                datasets: [{
                    label: "Node 1 Temperature",
                    data: 0,
                    fill: false,
                    borderColor: '#343e9a',
                    borderWidth: 1
                }]
                },
                options: Object.assign({}, commonOptions, {
                title:{
                    display: true,
                    //text: "Node 1 - Temperature",
                    text: node0_data.length,
                    fontSize: 18
                }
                })
            });
            var node1ChartInstance_humd = new Chart(node1Humidity, {
                type: 'line',
                data: {
                datasets: [{
                    label: "Node 1 Humidity",
                    data: 0,
                    fill: false,
                    borderColor: '#343e9a',
                    borderWidth: 1
                }]
                },
                options: Object.assign({}, commonOptions, {
                title:{
                    display: true,
                    text: "Node 1 - Humidity ",
                    fontSize: 18
                }
                })
            });

            var node2ChartInstance_temp = new Chart(node2Temperature, {
                type: 'line',
                data: {
                datasets: [{
                    label: "Node 2 Temperature",
                    data: 0,
                    fill: false,
                    borderColor: '#343e9a',
                    borderWidth: 1
                }]
                },
                options: Object.assign({}, commonOptions, {
                title:{
                    display: true,
                    text: "Node 2 - Temperature",
                    fontSize: 18
                }
                })    });

                var node2ChartInstance_humd = new Chart(node2Humidity, {
                    type: 'line',
                    data: {
                    datasets: [{
                        label: "Node 2 Humidity",
                        data: 0,
                        fill: false,
                        borderColor: '#343e9a',
                        borderWidth: 1
                    }]
                    },
                    options: Object.assign({}, commonOptions, {
                    title:{
                        display: true,
                        text: "Node 2 - Humidity",
                        fontSize: 18
                    }
                    })    });

        

            function addData(data) {
            if(data){
            
                if(data['adr']== 1){
                node1ChartInstance_temp.data.labels.push(new Date());
                node1ChartInstance_temp.data.datasets.forEach((dataset) => {dataset.data.push(data['temp'])});
                node1ChartInstance_humd.data.labels.push(new Date());
                node1ChartInstance_humd.data.datasets.forEach((dataset) => {dataset.data.push(data['humd'])});
                }
                else if (data['adr'] == 2){
                node2ChartInstance_temp.data.labels.push(new Date());
                node2ChartInstance_temp.data.datasets.forEach((dataset) => {dataset.data.push(data['temp'])});
                node2ChartInstance_humd.data.labels.push(new Date());
                node2ChartInstance_humd.data.datasets.forEach((dataset) => {dataset.data.push(data['humd'])});
                }

                if(updateCount > numberElements){
                node1ChartInstance_temp.data.label.shift();
                node1ChartInstance_temp.data.datasets[0].data.shift();
                node1ChartInstance_humd.data.label.shift();
                node1ChartInstance_humd.data.datasets[0].data.shift();
                node2ChartInstance_temp.data.label.shift();
                node2ChartInstance_temp.data.datasets[0].data.shift();
                node2ChartInstance_humd.data.label.shift();
                node2ChartInstance_humd.data.datasets[0].data.shift();
                }
                else updateCount++;
                node1ChartInstance_temp.update();
                node1ChartInstance_humd.update();
                node2ChartInstance_temp.update();
                node2ChartInstance_humd.update();

            }
            };

            function updateData() {
            console.log("Update Data");
            addData({"adr": 1,"temp" : 50,"humd" : 24});
            addData({"adr": 2,"temp" : 75,"humd" : 60});
            //$.getJSON("TempHumGenerator.py", addData);
            setTimeout(updateData,updateInterval);
            }

            updateData();
        }
        </script>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.1/jquery.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script>

        <style>
            .container{
            display:flex;
        
            }
        
            .label{
            flex:1;
            vertical-align: middle;
            text-align: center;
            }
        
            .t{
            flex:3;
            text-align: center;
            background-color: rgba(235, 113, 101, 0.73);
            margin: 10px;
            }
        
            .h{
            flex:3;
            text-align: center;
            background-color: rgba(70, 163, 71, 0.64);
            margin-top: 10px;
            margin-bottom:10px;
            }
        
            h1{
            text-align: center;
            }
    
        </style>

    </head>
		

    <body>
        <h1>Hello World!</h1>
		<h2 style="text-align: center;">IoT Sensor Nodes</h2>
		<h2 style="text-align: center;">Spring 23</h2>
        <p style="text-align: center;">These are charts displaying sensor data.</p>
        
        
		<div id="labelNode1" class="label">
			<h2> Node 1 </h2>
		  </div>

		<div id="node1Container" class="container">

		<div id="node1Temp" class="t">
	
			<canvas id="node1Temperature"></canvas>
		</div>
		<div id="node1Humd" class="h">
	
			<canvas id="node1Humidity"></canvas>
		</div>
		
		</div>  


		<div id="labelNode2" class="label">
			<h2> Node 2 </h2>
		  </div>
		<div id="node2Container" class="container">

			<div id="node2Temp" class="t">
		
				<canvas id="node2Temperature"></canvas>
			</div>
			<div id="node2Humd" class="h">
		
				<canvas id="node2Humidity"></canvas>
			</div>
			
			</div> 
        
    </body>

</html>