{% extends 'base.html' %}
{% load static %}


{% block content %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset ="UTF-8">
        <meta name ="author" content ="Anthony Lopez">
        <meta name="description" content ="This is an HTML displaying sensor data using chart.js.">
        <title>IoT Sensor Node Charts</title>
        {% if list0 %}
            <ul>
            {{ list0|json_script:'list0' }}
            </ul>
        {% endif %}
        <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
        <script>

window.onload = function() {
    console.log("LOADED");

    //Configuration variables
    var updateInterval = 10000 //in ms
    var numberElements = 15 
    

    //Globals
    var updateCount = 0;

    // Chart Objects
    var node1Temperature = $("#nodeTemperature");
    var node1Humidity = $("#nodeHumidity");
    var count = 0;
    
    var tempData = {{data|safe}};
    var timeLabels = {{labels|safe}};
    var humData = {{humidity|safe}}; 
    var node = {{node|safe}};
    var hub = {{hub|safe}};
    
    var top = tempData.length-1;

    document.getElementById('hubNode').innerHTML = "Hub ".concat(hub,": Node ",node);

    //chart instances & configuration

    var commonOptions = {
        scales: {
          xAxes: [{
            ticks: {
                    reverse: true,
                    fontColor : 'white'
                },
            gridLines:{ 
                color: "#131c2b",
                borderWidth : 3
        }
            
          }],
            yAxes: [{
                ticks: {
                    beginAtZero:true,
                    fontColor : 'white'
                },
                gridLines:{ 
                    color: "#131c2b",
                    borderWidth : 4
                }
                
            }]
        },
        legend: {display: false},
        tooltips:{ 
          enabled: true
        },
        options: {
            responsive: false
        }
        
    };
    var nodeChartInstance_temp = new Chart(nodeTemperature, {
        type: 'line',
        data: {
          datasets: [{
              label: "Node 1 Temperature",
              data: 0,
              fill: false,
              borderColor: 'white',
              borderWidth: 2
          }]
        },
        options: Object.assign({}, commonOptions, {
          title:{
            display: true,
            text: "Node ".concat(node, " - Temperature"),
            fontSize: 18,
            fontColor : 'rgba(255,255,255)'
          }
        })
    });
    var nodeChartInstance_humd = new Chart(nodeHumidity, {
        type: 'line',
        data: {
          datasets: [{
              label: "Node 1 Humidity",
              data: 0,
              fill: false,
              borderColor: 'rgba(204,255,229,0.5)',
              borderWidth: 2
          }]
        },
        options: Object.assign({}, commonOptions, {
          title:{
            display: true,
            text: "Node ".concat(node, " - Humidity"),
            fontSize: 18,
            fontColor : 'rgba(255,255,255)'
          }
        })
    });

    function addData(data) {
      if(data){
       
        nodeChartInstance_temp.data.labels.push(data['label']); // Push date from list0
        nodeChartInstance_temp.data.datasets.forEach((dataset) => {dataset.data.push(data['temp'])});
        nodeChartInstance_humd.data.labels.push(data['label']);
        nodeChartInstance_humd.data.datasets.forEach((dataset) => {dataset.data.push(data['humd'])});
        

        if(count > numberElements){
            nodeChartInstance_temp.data.labels.shift();
            nodeChartInstance_temp.data.datasets[0].data.shift();
            nodeChartInstance_humd.data.labels.shift();
            nodeChartInstance_humd.data.datasets[0].data.shift();  
            console.log(count);
              
        }
        else count++;
        nodeChartInstance_temp.update();
        nodeChartInstance_humd.update();

      }
    };

    
    function updateData(nodeNum, temp, humd, label) {
       
      console.log("Update Data");
      addData({"adr": nodeNum,"temp" : temp,"humd" : humd,"label" : label})
      //setTimeout(updateData,updateInterval);
      //top--;  
    }

    //updateData();

    function intialData(){
        // intial update : recieving first 10 data points
        for(let i = 0; i <tempData.length; i++){
            updateData(node,tempData[i],humData[i],timeLabels[i]);
        }
    }

    intialData();

    const equalsCheck = (a,b) => {
        return JSON.stringify(a) === JSON.stringify(b);
    }

    function autoRefresh(){
        window.location = window.location.href;
    }

    function getLiveData(){
        //window.location = window.location.href;
        let new_tempData = {{data}};
        let new_labels = {{labels|safe}};
        let new_humData = {{humidity}};

        console.log(new_labels,timeLabels);
        if(equalsCheck(new_labels,timeLabels)){
            console.log("Polling...")
           
            
        }
        else{
            //updateData(node,new_tempData[0],new_humData[0],new_labels[0]);
            console.log("New data added!")
            
        }
        setTimeout(getLiveData,updateInterval);
        
    }

    
    getLiveData();

  }
        </script>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.1/jquery.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script>
       

        <style>
            .container{
            display:flex;
        
            }
        
            .label{
            flex:1;
            vertical-align: middle;
            text-align: center;
            }
        
            .t{
            flex:3;
            text-align: center;
            background-color: rgba(235, 113, 101, 0.73);
            margin: 10px;
            }
        
            .h{
            flex:3;
            text-align: center;
            background-color: rgba(70, 163, 71, 0.64);
            margin-top: 10px;
            margin-bottom:10px;
            }
        
            h1{
            text-align: center;
            }
    
        </style>

    </head>
		

    <body>
        <style>
            html {
                font-size: 22px
            }

            body{
                background-color: rgb(35, 34, 34);
                color: rgb(255, 255, 255);
            }
        </style>
        <h1>IoT Sensor Nodes</h1>
		<h2 style="text-align: center;">Senior Design Project: Spring 23</h2>
        
        
		<div id="labelNode" class="label">
			<h2 id = "hubNode"></h2>
		  </div>

		<div id="nodeContainer" class="container">

		<div id="nodeTemp" class="t">
	
			<canvas id="nodeTemperature" width ="200" height = "130"></canvas>
		</div>
		<div id="nodeHumd" class="h">
	
			<canvas id="nodeHumidity" width = "200" height = "130"></canvas>
		</div>
		
		</div>  


		
        
    </body>

</html>
{% endblock %}